/* FENDER */

.fenderAs {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
   
.imgFend {
    box-shadow: 1px 10px 15px rgba(0,0,0,50)
}

h2 {
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    -webkit-text-stroke: black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h3 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    margin:30px;

}



.fenderTest {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
}
